<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
		 
				<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				 
				<!-- Be sure to leave the brand out there if you want it shown -->
				<!--<a class="brand" href="#">South End</a>		-->
				<div class="icon">
					 <%=link_to(image_tag("http://i1292.photobucket.com/albums/b561/parisliahyun/3f093d68-9ba1-4081-b7c5-3a7af182a597_zps5e78924d.jpg",:size => "200x23", :alt=> "South End"),
		 			{:controller=>"pages", :action=>"home"}, :title=>"Home", :class=>"brand") %>
				</div>
				<!-- Everything you want hidden at 940px or less, place within here -->
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li><%= link_to "Food", food_path %></li>
						<li><%= link_to "Wine", drink_path %></li>
						<li><%= link_to "Contact", contact_path %></li>
						<li><%= link_to "Location", location_path %></li>
					</ul>
				</div>

		</div>
	</div>
</div>

<script type="text/javascript">
    mixpanel.track_links("#nav a", "click nav link", {
        referrer: document.referrer
    });
</script>