<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
		 
			<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			 
			<!-- Be sure to leave the brand out there if you want it shown -->
	        <a class="brand" href="home.html"><img src="https://lh3.googleusercontent.com/S-a8hMonVP8AtlsR4xDC_ZqwCZoL0gKvuTZ21OS7n16VJijUFpfq2mu6Mfqqtp5hIBjHVQj2kbL2-LZlIn1VHIjO60faCfBADBrIDFQ_-fg63DvOyDz8N5mb"></a>
			 
			<!-- Everything you want hidden at 940px or less, place within here -->
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "About", about_path %></li>
					<li><%= link_to "Food", food_path %></li>
					<li><%= link_to "Drink", drink_path %></li>
					<li><%= link_to "Contact", contact_path %></li>
					<li><%= link_to "Location", location_path %></li>
				</ul>
			</div>
		</div>
	</div>
</div>