<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
		 
			<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			 
			<!-- Be sure to leave the brand out there if you want it shown -->
	        <a class="brand" href="index.html"> <img src="https://lh3.googleusercontent.com/m7HnOKIHSMm-w267XZmegJv56L6Qf-9i2n4kEHkkmA_PWvOWZ7mmxWTMRL6rxO-6kVyl4Zgq_btMT8EnP1Ll3d-t26uRaVkNoK9VSxdHPPmcHAvXR__wDqK5"></a>
			 
			<!-- Everything you want hidden at 940px or less, place within here -->
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "About", about_path %></li>
					<li><%= link_to "Food", food_path %></li>
					<li><%= link_to "Drink", drink_path %></li>
					<li><%= link_to "Contact", contact_path %></li>
					<li><%= link_to "Location", location_path %></li>
				</ul>
			</div>
		 
		</div>
	</div>
</div>